.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


img {
    width: 150px;
    padding: 1em;
}

.name {
    padding: .2em;
    text-decoration: underline;
    font-size: 1.5rem;
}

.price {
    padding: 1em;
    font-style: italic;
}

.divTwo div {
    padding: 1em;
}

.divTwo span {
    font-weight: bold;
}

.divTwo {
    display: flex;
}

button {
    padding: 0.5em 2em;
    margin: 0.5em;
    border-radius: 15px;
}

.end {
    color: tomato
}