body {
    color: #f5f5f5;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}

::-webkit-scrollbar {
    background: transparent;
}

::-webkit-scrollbar-thumb:horizontal {
    background: rgba(0, 0, 0, .6);
    border-radius: 10px;
}